<div style="max-width:250px;">
        <div class="card h-100 rounded-0 m-2">
            <a href="film/@Film.Id"><div class="img-thumbnail">
                <img src="@Film.ThumbUrl" class="card-img-top" alt="...">
            </div></a>
            <div class="card-body">
                <h6 class="card-title">@Film.Title</h6>
                <p class="card-text">@Film.Description.Truncate(35)</p>
            </div>
            <div class="card-footer  d-inline-flex justify-content-center">
                <a class="btn btn-primary rounded-1" href="film/@Film.Id">View Film</a>
            
            </div>
        </div>
</div>

@code {
    [Parameter] public FilmDTO Film { get; set; }

}
